package-lock.json
node_modules
.DS_Store

provisioners/*

!provisioners/main.tf
!provisioners/playbook.yaml
!provisioners/deploy.sh
!provisioners/docker-compose.yaml.template
!provisioners/default.conf