@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

#changePass-outer {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    background-color: rgba(128, 128, 128, 0.6);
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.changePass-container {
    align-items: center;
    font-family: 'Roboto Flex', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    height: max-content !important;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    padding: 30px 0;
    width: 400px;
    min-height: 250px;
    z-index: 100;
  }

.changePass-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
.changePass-title{
    font-size: 24px;
    display: flex;
    align-self: center;
    width: 77%;
    margin: auto;
    text-align: left;
    color: #8acd0f;
    margin: 0;
    font-weight: bold;
    margin-bottom: 15px;
}

.changePass-close-icon{
    aspect-ratio: 1 / 1;
    width: 35px;
    transform: translate(8px, -4px);
    color: #7dbd07;
    cursor: pointer;
    transition: all .2s ease;
}

.changePass-close-icon:hover{
    transform: translate(8px, -5px);
}

.changePass-label{
    width: 85%;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    padding: 15px 0 5px 0;
    color: black;
}

.changePass-input{
    width: 85%;
    font-size: 1rem;
    padding: 10px 5px;
    border-radius: 10px;
    outline: none !important;
    border: 2px solid #e7e7e7;
}

#changePass-btn{
    position: relative;
    color: rgb(255, 255, 255);
    height: 45px;
    border: none;
    font-size: 20px;
    border-radius: 12px;
    background: #5c8a07;
    outline: none;
    margin-top: 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Roboto Flex", sans-serif;
    font-weight: lighter;
}

.changePass-close-icon{
    aspect-ratio: 1 / 1;
    width: 35px;
    transform: translate(8px, -7px);
    color: #7dbd07;
    cursor: pointer;
    transition: all .2s ease;
  }
  
.changePass-close-icon:hover{
    transform: translate(8px, -8px);
}

.changePass-message {
    display: none;
    width: 85%;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 14px;
    margin-top: 5px;
    color:rgb(255, 54, 54);
}

.changePass-message-icon {
    transform: translateY(1px);
    margin-left: 1px;
    margin-right: 5px;
}