@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
div img {
    height: 45px;
    width: auto;
}

.header-container {
    background-color: rgba(0, 15, 0, 0.998);
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;
    top: 0;
    z-index: 9;
    height: 66px;
    align-items: center;
}

.footer-container {
    margin-top: auto;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", serif;
    background-color: rgb(0, 15, 0);
    height: 66px;
    width: 100%;
    font-weight: 700;
    color: rgb(158, 158, 158);
    font-size: calc(13px + 1vw);
    line-height: 150%;
    z-index: 9;
}