@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

#music-player{
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 95%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    margin-bottom: 30px;
    background-color: rgba(128, 128, 128, 0.7);
    border-radius: 15px;
    height: max-content;
}

#music-player-input{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-self: center;
    margin-bottom: 25px;
}

#music-player-input-url{
    font-family: 'Quicksand', sans-serif;
    padding: 5px 5px;
    font-size: larger;
    height: 39px;
    width: 530px;
    border-radius: 10px;
    border: 0px;
}

#music-player-input-button{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    border: none;
    background-color: white;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease;
    width: 65px;
    height: 49px;
}

#music-player-display{
    --pd-left-right: 50px;
    display: flex;
    justify-content: space-between;
    padding-left: var(--pd-left-right);
    padding-right: var(--pd-left-right);
}

#music-player-track{
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    list-style-type: none;
    width: 600px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#music-player-track-active{
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(255, 255, 255);
    color: black;
    list-style-type: none;
    width: 600px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#music-player-track-flex{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 17px;
}

#music-player-current-track{
    display: flex;
    align-items: flex-end;
}

#music-player-current-track-placeholder{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 25px;
    width: 640px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

#music-player-info{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

#music-player-close-icon{
    transform: translateY(4px);
    transition: ease .15s all;
}

#music-player-close-icon:hover{
    transform: translateY(1px);
    color: #7dbd07;
}

#music-player-track-title:hover{
    text-decoration: underline;
}

#music-player-playlist{
    overflow-x: hidden;
    overflow-y: scroll;
}

#music-player-playlist::-webkit-scrollbar {
    width: 0px;
}

#music-player-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 640px;
    height: 360px;
}

#music-player-button-container{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.music-player-button{
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease;
}

.music-player-button-disabled{
    background-color: rgba(97, 97, 97);
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
}

.music-player-button-disabled-message-box{
    visibility: hidden;
    opacity: 0;
    cursor: default;
    width: 421px;
    transform: translate(20px, -72px);
    text-align: justify;
    padding: 7px 10px 10px 10px;
    border-radius: 10px;
    background-color: #7dbd07;
    color: white;
    position: absolute;
    transition: all .1s linear;
}

.music-player-button-disabled-message-box-arrow{
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #7dbd07;
    position: absolute;
    transform: translate(0px, 7.5px);
}

.music-player-button-disabled:hover + .music-player-button-disabled-message-box{
    visibility: visible;
    opacity: 1;
}

.music-player-button:hover{
    transform: translateY(-2px);
    color: #7dbd07;
}

.music-player-button-active{
    background-color: #7dbd07;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease;
}

.music-player-button-active:hover{
    background-color: #7dbd07;
    color: black;
    transform: translateY(-2px);
}

@media screen and (max-width: 1480px) {
    #music-player-display{
        flex-direction: column;
        align-items: center;
    }
    
    iframe {
        margin-bottom: 25px;
    }
}

iframe {
    border-radius: 25px;
}