.h1-setting{
    text-align: center;
    color: #B7DB25;
}

.container-setting {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: max-content !important;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  border-radius: 50px;
  box-shadow: 0 0 5px rgb(0 0 0 / 30%);
  padding: 40px 30px;
  width: 400px;
  min-height: 250px;
  z-index: 100;
}

ul{
  list-style-type: none;
  padding: 0;
}

.items-setting{
    
    color: purple;
    display: flex;
    justify-content: space-between;
}

#setting-outer{
    background-color: rgba(128, 128, 128, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}


.li-setting{
    text-decoration: none;
    list-style: none;
    margin-bottom: 10px;
    display: flex; 
    justify-content: space-around;
    width: 100%;

}

.item-name{

}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #7dbd07;
  }

  input:focus + .slider{
    box-shadow: 0 0 1px #7dbd07;

  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .NumBox{
    width: 65px;
    height: 35px;
    border-radius: 15px;
    opacity: 50%;
    
  }
  input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
  }
