@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

#task-container{
    font-family: 'Quicksand', sans-serif;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 95%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    background-color: rgba(128, 128, 128, 0.7);
    border-radius: 15px;
    align-items: center;
    height: max-content;
    margin-bottom: 5vh;
}

#task-header{
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: 700;
    color: white;
    margin-bottom: 25px;
}

.task{
    display: flex;
    justify-self: center;
    justify-content: space-between;
    width: 65%;
    background-color: white;
    border-left: 10px solid #7dbd07;
    height: max-content;
    padding: 10px 5px;
    font-size: 32px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 15px;
}

.task-done {
    display: flex;
    justify-self: center;
    justify-content: space-between;
    width: 65%;
    background-color: #396F04;
    border-left: 10px solid #7dbd07;
    height: max-content;
    padding: 10px 5px;
    font-size: 32px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 15px;
    color: white;
}

.task-checkbox-round{
    position: relative;
    margin-right: 40px;
    transform: translate(5px, 5px);
}

.task-checkbox-custom{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.task-checkbox-custom::after{
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.task-checkbox{
    visibility: hidden;
}

.task-checkbox:checked + .task-checkbox-custom{
    background-color: #7dbd07;
    border-color: #7dbd07;
}

.task-checkbox:checked + .task-checkbox-custom::after{
    opacity: 1;
}

#task-btn {
    background-color: #7dbd07;
    color: white;
    padding: 10px 15px;
    border-radius: 40%;
    cursor: pointer;
    transition: all .2s ease;
}

#task-btn:hover{
    transform: translateY(-1px);
}

.task-name{
    display: flex;
    gap: 10px;
}

#task-setting-outer{
    background-color: rgba(128, 128, 128, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#task-setting-container {
    font-family: 'Roboto Flex', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    height: max-content !important;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    padding: 30px 0;
    width: 400px;
    z-index: 100;
    align-items: center;
}

.task-setting-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.task-setting-title{
    font-size: 24px;
    display: flex;
    align-self: center;
    width: 77%;
    margin: auto;
    text-align: left;
    color: #7dbd07;
    margin: 0;
    font-weight: bold;
    margin-bottom: 15px;
}

#task-setting-input{
    font-family: 'Quicksand', sans-serif;
    width: 85%;
    padding: 10px 0px 10px 5px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 17px;
    margin-bottom: 20px;
}

#task-setting-input:focus {
    outline: none !important;
    border: 1.5px solid #7dbd07;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); */
  }

#task-setting-btn{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    background-color: #7dbd07;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all .2s ease;
}

.task-info{
    display: flex;
}

.task-close-btn{
    cursor: pointer;
    transform: translateY(1px);
    margin-right: 5px;
}